<html>
    <head>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'accounts/css/materialize.min.css' %}" />
        <link rel="stylesheet" href="{% static 'accounts/css/materialize.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    </head>
    <body>
    <div class="row">
   <div class="col s12">
        <ul class="tabs z-depth-1 tabs-fixed-width">
            <li class="tab col"><a href="#signup">Signup</a></li>
            <li class="tab col"><a href="/accounts/login/">Login</a></li>
            <li class="tab col"><a class="active" href="/">Homepage</a></li>
            <li class="tab col"><a href="/#apps">Apps</a></li>
            <li class="tab col disabled"><a href="#java_script">JavaScript</a></li>
        </ul>
        <div class="card-panel orange white-text">{{warning}}</div>
        <h2 class="card-panel blue lighten-1 white-text">Reset Password</h2>

</div>


        <div class="card-panel blue white-text z-depth-4" id="signup">
        <form action="/accounts/reset_password/{{reset_token}}/" method="post" class="card-panel white blue-text" style="margin:5px;" class="col s12">
            <div><img src="{% static 'accounts/images/app_icon.png' %}"/></div>
         {% csrf_token %}
    <div class="row">
         <div class="row">
<div id="divCheckPasswordMatch"></div>

        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" name="password" class="validate">
          <label for="icon_prefix">Enter New Password</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="password1" type="password" name="password1" onkeyup="checkPasswordMatch();">
          <label for="icon_telephone">Confirm password</label>
        </div>
      </div>
        <button type="submit" class="waves-effect waves btn blue">Reset password</button>
        </form>
        </div>
    </div>

    </body>

<script type="text/javascript">
var password = document.getElementById("password")
  , confirm_password = document.getElementById("password1");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
{% load static %}

		<script src="{% static 'accounts/js/materialize.min.js' %}"></script>
		<script src="{% static 'accounts/js/materialize.js' %}"></script>
</html>
